# XFCE Desktop Environment
xfce4
xfce4-goodies
xorg
xorg-server
xorg-xinit
lightdm
lightdm-gtk-greeter
lightdm-gtk-greeter-settings
picom
pulseaudio
pavucontrol
thunar
thunar-archive-plugin
thunar-volman
xfce4-terminal
ttf-dejavu
ttf-liberation
noto-fonts
papirus-icon-theme
firefox
virtualbox-guest-utils
open-vm-tools
